/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

:root {
	--bronze-yellow: rgb(246, 189, 96);
	--pacific-blue: rgb(102, 145, 151);
	--lilac-ash: rgb(186, 167, 176);
	--dark-slate-grey: rgb(65, 97, 101);
	--darker-slate-grey: rgba(46, 68, 71, 0.692);
	--white: rgb(247, 247, 247);
	--darker-white: rgb(243, 243, 243);

	--fs-small: clamp(0.875rem, 1vw, 1rem);
	--fs-base: clamp(1rem, 1.2vw, 1.125rem);
	--fs-lg: clamp(1.3rem, 2vw, 1.8rem);
	--fs-xl: clamp(2rem, 4vw, 3rem);

	--bg-color1: var(--white);
	--bg-color2: var(--darker-white);
	--text-color: var(--pacific-blue);
	--base-color: var(--darker-slate-grey);
	--title-color: var(--bronze-yellow);
	--highlight2: var(--dark-slate-grey);
	--table-alternating: var(--darker-white);
	--shadow-color: rgba(78, 153, 78, 0.2);
}

[data-bs-theme="light"] {
	--bg-color1: var(--white);
	--bg-color2: var(--darker-white);
	--text-color: var(--pacific-blue);
	--title-color: var(--bronze-yellow);
	--highlight2: var(--dark-slate-grey)
	--table-alternating: var(--darker-white);
	--base-color: var(--darker-slate-grey);
	--shadow-color: rgba(78, 153, 78, 0.2);
}


/* dark mode */
[data-bs-theme="dark"] {
	--bg-color1: var(--dark-slate-grey);
	--bg-color2: var(--darker-slate-grey);
	--text-color: var(--white);
	--title-color: var(--bronze-yellow);
	--highlight2: var(--lilac-ash);
	--table-alternating: var(--darker-slate-grey);
	--base-color: #FFF6AB;
	--shadow-color: rgba(167, 182, 167, 0.2);
}
/* end dark mode */

/* navbar */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: auto;
	border-bottom: 1px solid;
}

.nav-container-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-title {
	font-size: var(--fs-xl);
	color: var(--title-color);
	cursor: pointer;
}

.nav-container-buttons {
	display: flex;
	align-content: center;
	gap: 15px;
	padding: 1rem;
}

.nav-container-buttons a {
	box-shadow: 3px 3px 3px 3px var(--shadow-color);
}

.nav-container-buttons button {
	box-shadow: 3px 3px 3px 3px var(--shadow-color);
}

/* end navbar */

/* content */
#content {
}
/* end content */

/* main container */
.main-container {
	font-size: var(--fs-lg);
	background-color: var(--bg-color2);
}

.main-container-image {
	width: 20%;
	min-width: 120px;
}

.main-container-image img {
	width: 100%;
	border-radius: 50%;
}

.main-container-text {
	width: 50%;
}

.main-container-title {
	font-size: var(--fs-xl);
}

.main-container-contact {
	display: flex;
	flex-direction: row;
	width: 50%;
	gap: clamp(1rem, 3vw, 5rem);
	flex-wrap: wrap;
}

.main-github-contact, .main-linkedin-contact {
	display: flex;
	align-items: center;
	gap: .5rem;
	padding: clamp(.1rem, .5rem, .8rem);
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid var(--text-color);
	border-radius: 10px;
	color: inherit;
	font-weight: 900;
}

.main-github-contact:hover, .main-linkedin-contact:hover {
	text-decoration: underline;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
}
/* end main container */

/* about container */
.about-container {
	font-size: var(--fs-lg);
	flex-direction: column;
	align-content: center;
}

.about-container-title {
	font-size: var(--fs-xl);
	color: var(--title-color);
	display: inline-block;
	position: relative;
}

.about-container-title::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%) scaleX(1);
	width: 80%;
	height: 4px;
	background: currentColor;
	border-radius: 2px;

	transition: transform 0.3s ease;
}

.about-container-title:hover::after {
	transform: translateX(-50%) scaleX(0);
}

.about-container-section {
	display: flex;
	flex-direction: row;
}

/* end about container */

/* general elements */

body {
	background-color: var(--bg-color1);
	color: var(--text-color);
	width: 100vw;
	height: 100vh;
	margin: auto;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

.image-container {
	width: auto;
}

.general-container {
	display: flex;
	flex-wrap: wrap;
	padding: clamp(2rem, 5vw, 7rem);
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

img {
	max-width: 100%;
	height: auto;
}

.highlight {
	color: var(--title-color);
}

.highlight2 {
	color: var(--highlight2);
}


button, .link-btn {
	box-shadow: 8px 8px 3px 3px var(--shadow-color);
	padding: clamp(.1rem, .5rem, .8rem);
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid var(--text-color);
	border-radius: 10px;
	color: inherit;
	font-weight: 900;
}

button:hover, .link-btn:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
}

table {
	width: 50%;
	box-shadow: 8px 8px 3px 3px var(--shadow-color);
}

td,
th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
	font-size: calc(var(--fs-base) + .3rem);
}

td:hover, th:hover {
	filter: brightness(50%);
}

th {
	font-size: var(--fs-lg);
	color: var(--title-color);
	font-weight: 900;
}


tr:nth-child(even) {
	background-color: var(--table-alternating);
}

p {
	color: var(--base-color);
}
/* end general elements */

/* tablet */
@media (max-width: 768px) {
	body {
		width: 100%;
		margin: 0px;
	}
}


/* mobile */
@media (max-width: 480px) {
	body {
		width: 100%;
		margin: 0px;
	}

	.main-container {
		flex-direction: column;
		text-align: center;
		padding: 2rem;
	}
	
	.main-container-image {
		width: 40%;
	}


	.main-container-text {
		width: 100%;
	}


	.main-container-contact {
		width: 100%;
		justify-content: center;
	}
}